p {
    color: red;
}

li {
    display: inline;
    color: white;
}

#header{
    background-color: #313131;
}

a {  
    color: inherit;
    text-decoration: none;
    font-size: 13px;
  }

  a:hover {
    color: gray;
    }

    .inline_block_link {
        display: inline-block;      /* インラインブロック要素にする! */
        background-color:  #313131;    /* 背景色指定 */
        margin-top:  2px;             /* 余白指定 */
        height: 15px;              /* 高さ指定 */
        width: 100px;
    }
    .parent {
        text-align: center;         /* 子要素を左右中央揃えにする */
        padding:  15px;             /* 余白指定 */
    }